{{!< main}}

<h1>Article home</h1>


<br>
<br>
<table class="ui celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Title</th>
      {{!-- <th>Text</th> --}}
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each articles.rows}}
    <tr>
      <td>{{id}}</td>
      <td>{{user.username}}</td>
      <td><a href="/article/view/{{id}}">{{title}}</a></td>
      {{!-- <td>{{text}}</td> --}}
      <td>{{moments}}</td>
    </tr>
    {{/each}}
    
  </tbody>
</table>

{{articles.index}}
<div class="ui pagination menu">
  <a class="active item">
    <
  </a>
  {{#each articles.index}}

  <a class="item">
    {{}}
  </a>
{{/each}}
  <a class="item">
    >
  </a>
</div>
<a href="article/add">
<br>
<br>
  <div class="ui button blue">Add Article</div>
</a>
<br>
<br>
<br>


