{{!< main}}



{{article.title}}
<br>
{{article.text}}

<br>

<br>
{{#if article.image}}
{{#each article.image}}
{{filename}}
<img class="ui centered tiny image" src="/uploads/imgs/article/{{filename}}">
<br>
{{/each}}
{{/if}}

{{#if article.owner}}
<form action="/article/view/{{article.id}}" method="DELETE">
<button class="ui negative button huge" type="submit">DELETE</button>
</form>
{{/if}}