{{!< main}}
<h1>Article home</h1>


<br>
<br>
<table class="ui fixed celled table">
  <thead>
    <tr>
      <th class="one wide">ID</th>
      <th class="one wide">User</th>
      <th class="one wide">Title</th>
      {{!-- <th>Text</th> --}}
      <th class="two wide">Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each articles.rows}}
    <tr>
      <td>{{id}}</td>
      <td>{{user.username}}</td>
      <td><a href="/article/view/{{id}}">{{title}}</a></td>
      {{!-- <td>{{text}}</td> --}}
      <td>{{moments}}</td>
    </tr>
    {{/each}}

  </tbody>
</table>

<div class="ui pagination menu">
  <a class="item">
    <-
  </a>
  {{#each articles.index as |key|}}
  <a class="item" href="/article/{{key}}">
    {{key}}
  </a>
  {{/each}}
  <a class="item">
    ->
  </a>
</div>
<a href="article/add">
  <br>
  <br>
  <div class="ui button blue">Add Article</div>
</a>
<br>
<br>
<br>

<table class="ui sortable celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>No Action</td>
      <td>None</td>
    </tr>
    <tr>
      <td>Jamie</td>
      <td class="positive">Approved</td>
      <td class="warning">Requires call</td>
    </tr>
    <tr>
      <td>Jill</td>
      <td class="negative">Denied</td>
      <td>None</td>
    </tr>
  </tbody>
  <tfoot>
    <tr><th>3 People</th>
    <th>2 Approved</th>
    <th></th>
  </tr></tfoot>
</table>